<div class="main">
    <div class="screen">
        <div class="left"></div>
        <div class="right">
            <div class="rightTop">
                <h2 class="text-center">Department Of Agriculture</h2>
                <h2 class="text-center">Puducherry</h2>
            </div>
            <div class="rightBottom">
                <div class="SignIn">Sign in</div>
                <div class="TypeSmall">Type your name and password to sign in</div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>UserName</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>forgot</div>
            </div>
        </div>
    </div>
</div>