.flex{
    display: flex;
    column-gap: 30px;
    margin-left: 30px;
    width: 100%;
}
.row{
    width: 98%;
}
.bRadius{
    border-radius: 40px;
}
.table-responsive{
    width: 95%;
}
.checkBox{
 width: 20px;
 display: flex;
}