.main{
    display: flex;
}
.left{
    width: 15%;
    height: 100%;
    // background-color: grey;
    // border: 1px solid black;
}
.right{
    width: 85%;
}
.head{
    margin-bottom: 50px;
}
.slide{
    display: flex;
    align-items: center;
    column-gap: 30px;
   
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 60px;
    margin-bottom: 16px;
   

}

// .segment mat-form-field-wrapper{
//     padding-bottom: 0px;
// }
.clear{
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 16px;
}
.add{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 16px;
    background-color: rgba(45, 129, 155, 0.56);
    cursor: pointer;
}
.option{
    // height: 10px;
    // outline: none;
    margin-bottom: 10px;
}
.height{
    height: 52px;
    margin-top: 2px;
}
.display{
    display: flex;
    column-gap: 10px;
}
.click{
    cursor: pointer;
}
