<!-- <p>animation works!</p> -->
<!-- box animation -->
<div class="main">
    <div class="box">

    </div>
</div>
<!-- balloon animation -->
<!-- <div class="whole">
    <div class="baloon1">
        <div class="baloonTop1"></div>
        <div class="baloondown1">
            <div class="baloonLine1">
                
            </div>
        </div>
    </div>
    <div class="baloon2">
        <div class="baloonTop2"></div>
        <div class="baloondown2">
            <div class="baloonLine2">
                
            </div>
        </div>
    </div>
    <div class="baloon3">
        <div class="baloonTop3"></div>
        <div class="baloondown3">
            <div class="baloonLine3">
                
            </div>
        </div>
    </div>
    <div class="baloon4">
        <div class="baloonTop4"></div>
        <div class="baloondown4">
            <div class="baloonLine4">
                
            </div>
        </div>
    </div>
</div> -->
<!-- Ball animation -->
<!-- <div class="Ball_background">
    <div class="ball">
        
    </div>
</div> -->
<!-- Small Ball -->
<!-- <div class="Flex">
    <div class="Small_ball1 Small_ball"></div>
    <div class="Small_ball2 Small_ball"></div>
    <div class="Small_ball3 Small_ball"></div>
    <div class="Small_ball4 Small_ball"></div>
    <div class="Small_ball5 Small_ball"></div>
    <div class="Small_ball6 Small_ball"></div>
    <div class="Small_ball7 Small_ball"></div>
    <div class="Small_ball8 Small_ball"></div>
    <div class="Small_ball9 Small_ball"></div>
    <div class="Small_ball10 Small_ball"></div>
</div> -->