<!-- <router-outlet></router-outlet> -->
<!-- <app-test></app-test> -->
<!-- <app-frame></app-frame> -->
<!-- <app-animation></app-animation> -->
<!-- <app-ng-class></app-ng-class> -->
<!-- <app-grade></app-grade>
<app-excel-upload></app-excel-upload> -->
<!-- <router-outlet></router-outlet> -->
<app-region-master></app-region-master>
<!-- <app-element></app-element> -->
<!-- <app-month-payroll-report></app-month-payroll-report> -->
<!-- <app-photos-shower></app-photos-shower> -->
<!-- <app-dbt-screen></app-dbt-screen> -->
<!-- <app-chartt></app-chartt> -->