<div>{{name}}</div>

<div>
    <div class="card">
        <div class="card-body">
          <form novalidate [formGroup]="uploadForms">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" formControlName="files" id="importFile"
                  (change)="fileChange($event, $event.target.files)">
                <label class="custom-file-label" #labelImport for="importFile">Choose file</label>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-warning" type="button" >
                <i class="fas fa-file-import"></i> Upload
              </button>
              <button class="btn btn-outline-info" type="button"  style="margin-left: 4%;">
                Cancel
              </button>
              <button class="btn btn-outline-info" type="button"  style="    margin-left:35%;">
                Download Template
              </button>
            </div>
          </form>
        </div>
      </div>
</div>
<!-- <table cellspacing="0" cellpadding="0">
    <tr>
      <th *ngFor="let header of tableTitle">{{ header }}</th>
    </tr>
    <tr *ngFor="let data of tableRecords; let i = index">
      <td *ngFor="let header of tableTitle">
        {{ data[header] }}
      </td>
    </tr>
  </table> -->
  <table class="table table-bordered align-center">
    <tr *ngFor="let d of data">
        <td *ngFor="let f of d">
            {{f}}
        </td>
    </tr>

  </table>